@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Yeseva+One&display=swap');


* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}

body {
    height: 100%;
    width: 100%;
}

/* SECTION 1 */

#section-1 {
    width: 100%;
    padding: clamp(17px, 8vh, 42px) clamp(37px, 5vw, 57.5px);
    background: url(../img/gradient\ 1.png) no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    z-index: 10;
}

#frame {
    margin: 0 auto;
    position: relative;
    max-width: 1243px;
    border-radius: 35px;
    padding: 38px 0px 60px 0px;
    z-index: 0;
}

#bkghd {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(180deg, #FFF 54.17%, rgba(255, 255, 255, 0.351) 100%);
    backdrop-filter: blur(3px);
    z-index: -1;
    border-radius: 35px;
}

header {
    font-family: 'DM Sans';
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 23px;
    background: white;
}

.header-fixed {
    width: 100vw;
    position: fixed;
    padding: 10px 20px;
    top: 0px;
    left: 0px;
    z-index: 2;
    border-bottom: 1px solid gray;
}

#ico-box {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #00873E;
    -webkit-text-stroke: 1px black;
}

#ico-box>p>span {
    color: aliceblue;
}

#ico-1 {
    width: 50px;
}

.btns-box {
    display: flex;
    column-gap: 60px;
}

#hidden-menu {
    display: none;
}

#box-links {
    right: 20px;
    position: absolute;
    display: none;
    border: 1px solid green;
}

.header-buttons-hidden {
    text-decoration: none;
    display: block;
    color: #2d2d2d;
    padding: 15px 20px;
    background-color: #FFF;
}

.header-buttons-hidden:hover {
    background-color: #ebebeb;
}

#link-btn {
    cursor: pointer;
}

.header-buttons {
    font-size: 1.2rem;
    text-decoration: none;
    color: #000;
}

.btns-box>.header-buttons:nth-child(1) {
    font-weight: 700;
    color: #00873E;
}

.header-buttons:hover {
    color: #00873E;
}

.signup-btn {
    margin-left: 34px;
    padding: 12px 18px;
    font-weight: 700;
    border-radius: 8px;
    text-decoration: none;
    color: white;
    background-color: #00873E;
    transition: 0.4s;
    border: 2px solid transparent;
}

.section-1-box {
    display: flex;
    padding: 0px clamp(16px, 3vw, 46px) 0px clamp(10px, 6vw, 80px);
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
}

.text-box-1 {
    display: flex;
    flex-direction: column;
    width: clamp(250px, 31vw, 420px);
}

.text-box-1>h1 {
    font-size: clamp(1.8rem, 3.5vw, 3.2rem);
    font-family: 'Yeseva One';
}

.text-box-1>p {
    margin: 16px 0px 25px 0px;
    font-size: 1rem;
    font-family: 'DM Sans';
}

#explore-now-btn,
#submit-form-btn {
    font-size: 1.2rem;
    padding: 12px 45px;
    padding: clamp(10px, 8vw, 12px) clamp(42px, 16vw, 45px);
    width: fit-content;
    font-family: 'DM Sans';
    font-weight: 700;
    background-color: #00873E;
    color: #FFF;
    border: 2px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.4s all;
}

#explore-now-btn:hover,
.signup-btn:hover,
#submit-form-btn:hover {
    border: 2px solid #00873E;
    background-color: #FFF;
    color: #00873E;
}

#corner-img-1 {
    position: absolute;
    top: calc(-20px - 2vh);
    left: calc(-25px - 1vw);
    width: clamp(55px, 7vw, 70px);
    z-index: -1;
}

#corner-img-2 {
    position: absolute;
    left: calc(-20px - 2vw);
    bottom: calc(-30px + 1.5vh);
    width: clamp(90px, 10vw, 140px);
}

#corner-img-3 {
    position: absolute;
    right: calc(-33px - 2vw);
    bottom: -15px;
    width: clamp(80px, 12vw, 130px);
    transform: rotate(15deg);
    z-index: -1;
}

.santa-box {
    width: clamp(250px, 35vw, 400px);
}

#santa {
    width: 100%;
    height: auto;
}

/* SECTION 2 & SECTION 3*/

#section-2,
#section-3 {
    padding: 20px clamp(20px, 3vw, 40px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#imgs-box,
#imgs-box-2 {
    display: flex;
    gap: clamp(13px, 2vw, 20px);
    margin: 10px 0px;
    flex-flow: wrap;
    justify-content: center;
}

#frame-2>h2,
#frame-3>h2 {
    font-family: 'Yeseva One';
    font-size: clamp(1.8rem, 4vw, 3rem);
    color: #2f2f2f;
    text-align: center;
}

.img-frame {
    position: relative;
    width: clamp(165px, 30vw, 290px);
    height: clamp(225px, 40vw, 390px);
    overflow: hidden;
    border-radius: 10px;
}

.img-frame::after {
    opacity: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    content: 'See more';
    background-color: rgba(255, 255, 255, 0.704);
    height: 0px;
    z-index: 1;
    transition: 0.5s;
    font-family: 'DM SANS';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(1.5rem, 1vw, 2rem);
    cursor: pointer;
}

.img-frame:hover::after {
    height: clamp(55px, 6vw, 75px);
    opacity: 1;
}

#slide-btns {
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

#slide-btns>label {
    width: 20px;
    height: 12px;
    border: 2px solid #00873E;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.4s;
}

#slide-btns>label:hover {
    scale: 1.1;
}

.offers-img,
.offers-img-2 {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

.img-frame:hover .offers-img {
    scale: 1.2;
}

.radio-btns {
    appearance: none;
    display: none;
}

#btn-1:checked~#slide-btns>label:nth-child(1),
#btn-2:checked~#slide-btns>label:nth-child(2),
#btn-3:checked~#slide-btns>label:nth-child(3) {
    background-color: #00873E;
    width: 30px;
}

#btn-1:checked~#imgs-box>.img-frame img:nth-child(1),
#btn-2:checked~#imgs-box>.img-frame img:nth-child(2),
#btn-3:checked~#imgs-box>.img-frame img:nth-child(3) {
    z-index: 1;
    opacity: 1;
}

#btn-1:checked~#imgs-box>.img-frame img:nth-child(2),
#btn-1:checked~#imgs-box>.img-frame img:nth-child(3) {
    z-index: 0;
    opacity: 0;
}

#btn-2:checked~#imgs-box>.img-frame img:nth-child(3),
#btn-2:checked~#imgs-box>.img-frame img:nth-child(1) {
    z-index: 0;
    opacity: 0;
}

#btn-3:checked~#imgs-box>.img-frame img:nth-child(1),
#btn-3:checked~#imgs-box>.img-frame img:nth-child(2) {
    z-index: 0;
    opacity: 0;
}

#section-3 {
    border-top: 6px double #6D6D6D;
    border-bottom: 6px double #6D6D6D;
}

.item-box {
    width: clamp(165px, 30vw, 270px);
}

.img-frame-2 {
    position: relative;
    height: clamp(225px, 40vw, 370px);
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

.box-details {
    background-color: aliceblue;
    font-family: 'DM Sans';
    font-weight: 700;
    width: 100%;
    padding: 10px;
    cursor: pointer;
}

.box-details>h3 {
    margin-bottom: 10px;
}

.box-details>p>span {
    font-weight: 400;
    font-size: 0.84rem;
    text-decoration: line-through;
    margin-left: 5px;
}

.offers-img-2:not(:hover):nth-child(1) {
    opacity: 1;
}

.offers-img-2:nth-child(2) {
    opacity: 0;
}

.item-box:hover .offers-img-2:nth-child(2) {
    opacity: 1;
}

/* SECTION 4 */

#section-4 {
    background-color: #D9F7FF;
    padding: 50px clamp(20px, 10vw, 100px);
    display: flex;
    justify-content: center;
}

#frame-4 {
    display: flex;
    justify-content: center;
    flex-flow: wrap;
    gap: 30px;
}

#form-info-box {
    position: relative;
    border-radius: 25px;
    background: #FFF;
    box-shadow: 0px 0px 40px -20px rgba(0, 0, 0, 0.50);
    width: clamp(325px, 45vw, 600px);
    padding: clamp(20px, 6vh, 50px) clamp(25px, 6vw, 80px);
}

.form-inputs {
    padding: 10px 15px;
    border-radius: 5px;
    border: 1px solid #6D6D6D;
    width: 90%;
    margin-bottom: 18px;
    outline: none;
}

#santa-img-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#santa-deers {
    width: clamp(250px, 30vw, 400px);
}

#gift-box {
    position: absolute;
    top: 30px;
    left: calc(-20px - 1vw);
    width: clamp(45px, 6vw, 75px);
}

form>h1 {
    font-family: 'Yeseva One';
    margin-bottom: 20px;
    font-size: clamp(2.5rem, 4vw, 4rem);
    color: #2f2f2f;
}

#form-info-box>h2 {
    font-family: 'Yeseva One';
    font-size: clamp(1.3rem, 2vw, 1.5rem);
    margin-bottom: 15px;
}

#form-info-box>p {
    font-family: 'DM Sans';
    font-size: 1rem;
    margin-bottom: 10px;
}

/* FOOTER */

footer {
    height: clamp(150px, 18vw, 250px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-box {
    width: fit-content;
    text-align: center;
    justify-content: center;
    display: flex;
    column-gap: 100px;
    row-gap: 10px;
    flex-flow: wrap;
    position: relative;
    top: calc(-10px - 2vh);
}

.foot-letters-box>h2 {
    font-family: 'Yeseva One';
    font-size: clamp(1.2rem, 1vw, 2rem);
}

.foot-letters-box>p {
    font-size: 1.1rem;
    font-family: 'DM SANS';
}

#footer-bkg {
    width: 100%;
    max-width: 1440px;
    position: absolute;
    bottom: 0;
}

#social-icons {
    width: 150px;
    cursor: pointer;
}

@media screen and (max-width: 927px) {
    header {
        justify-content: space-between;
        padding: 0px 20px;
    }

    .btns-box,
    .btns-box-2 {
        display: none;
    }

    #hidden-menu {
        display: block;
    }
}

@media screen and (max-width: 876px) {
    form {
        text-align: center;
        justify-content: center;
    }
}

@media screen and (max-width: 646px) {
    .section-1-box,
    .text-box-1 {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}